.booksHolder{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.2in 0.2in;
  width: 100%;
  max-width: 12in;
}
.booksHolder > div{
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  padding:10px;
  max-width:3in;
  min-width: 2.2in;
  max-height: 4in;
  box-shadow: 20px 18px 8px -13px rgba(0,0,0,0.28);
}
.booksHolder  img{
  flex: 0 1; 
  max-height: 1.5in;
  object-fit: contain; 
}

.booksHolder .bottomRow{
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex: 0 0;
}
.bookTitle{    
  word-break: break-all;  
  white-space: nowrap;
  overflow: hidden;
  text-overflow:ellipsis;
}
.booksHolder > div.likedStatus{
  background-color: rgb(238, 236, 245);
}
.pageControls{
  display: flex;
  justify-content: center;
  width: 100%;
}
.pageControls > *{
  margin-inline: 10px;
  color: white;
  font-weight: 500;
  margin-bottom:50px;
}
.bookDescription{
  font-size: smaller;
  flex: 1 1;
  overflow-y: hidden;
}
.bottomDescription{ 
  font-size: smaller;
  flex: 1 1;
  overflow-y: auto;
}
.bottomDescription::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.bottomDescription::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0,0,0,0.1);
}
.bottomDescription::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background: rgba(0,0,0,0.2);
}
.bottomDescription::-webkit-scrollbar-thumb:hover{
  background: rgba(0,0,0,0.4);
}
.bottomDescription::-webkit-scrollbar-thumb:active{
  background: rgba(0,0,0,.9);
}
form{
  display: flex;
  gap: 0.1in 0.1in;
  background-color: var(--purple);
  padding: 10px;
  margin-bottom: 0.2in;
  box-shadow: 1px 6px 22px 0px rgba(0,0,0,0.32);

}
.searchInput{
  color: white;
  font-size: medium;
  font-weight: 700;
  text-decoration: none;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 2px solid black;
}
.searchInput::placeholder{
  color: lightgrey;
}
form > button{
  border: none;
  background: rgb(215,255,171);
  background: linear-gradient(35deg, rgba(215,255,171,1) 0%, rgba(48,255,106,1) 100%);
  border-radius: 5px;
  padding: 10px;
  height: 40px;
  transition: background 100ms;
}
form > button:hover{
  
  background: linear-gradient(35deg, rgb(145, 216, 70) 0%, rgb(191, 236, 204) 100%);
  cursor: pointer;
}
form > .loadingNotif{ 
  margin: 0;
  padding: 0; 
 }
 .navigationButtonsContainer{
  padding: 1%;
  display: flex;
  gap: 5px 5px;
 }
 .navButtons > button{
  color:black;
  width: 2rem;
  height: 2rem;
  border: none;
  border-radius: 5px;
 }
 .navButtons > button:enabled{
  cursor: pointer;
 }
 .navButtons > button:disabled{
  color: white;
  background-color: darkgray;
  border: 2px solid black;
 }