.booksHolder{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.booksHolder > div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(137, 137, 137);
  border-radius: 5px;
  margin:5px;
  padding:10px;
  max-width:3in;
  max-height: 4in;
}
.booksHolder  img{
  flex: 0 1; 
  max-height: 1.5in;
  object-fit: contain; 
}

.booksHolder .bottomRow{
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex: 0 0;
}
.bookTitle{    
  word-break: break-all;  
  white-space: nowrap;
  overflow: hidden;
  text-overflow:ellipsis;
}
.booksHolder > div.likedStatus{
  background-color: rgb(241, 224, 228);
}
.pageControls{
  display: flex;
  justify-content: center;
  width: 100%;
}
.pageControls > *{
  margin-inline: 10px;
  color: white;
  font-weight: 500;
  margin-bottom:50px;
}
.bookDescription{
  flex: 1 1;
  overflow-y: auto;
}
form{
  display: flex;
  gap: 20px 20px;
  background-color: var(--purple);
  padding: 10px;
}
.searchInput{
  color: white;
  font-size: medium;
  font-weight: 700;
  text-decoration: none;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid black;
}
.searchInput::placeholder{
  color: lightgrey;
}
form > button{
  border: none;
  background: rgb(215,255,171);
  background: linear-gradient(35deg, rgba(215,255,171,1) 0%, rgba(48,255,106,1) 100%);
  border-radius: 5px;
  padding: 10px;
  height: 40px;
  transition: background 100ms;
}
form > button:hover{
  
  background: linear-gradient(35deg, rgb(145, 216, 70) 0%, rgb(191, 236, 204) 100%);
  cursor: pointer;
}
form > .loadingNotif{ 
  margin: 0;
  padding: 0; 
 }